.bg-primary-subtle {
  background-color: #dbeafe !important;
}
.text-primary-emphasis {
  color: #1d4ed8 !important;
}
.bg-secondary-subtle {
  background-color: #f1f5f9 !important;
}
.text-secondary-emphasis {
  color: #475569 !important;
}
